# Pandas  tutorial for Level 4 Data Analysis

## 1. Setup

### Import

Before moving on to learn pandas first we need to install it and import it. If you install [Anaconda distributions](https://www.anaconda.com/) on your local machine or using [Google Colab](https://research.google.com/colaboratory) then pandas will already be available there, otherwise, you follow this installation process from [pandas official's website](https://pandas.pydata.org/docs/getting_started/install.html).

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd

In [ ]:
# we can set numbers for how many rows and columns will be displayed
pd.set_option('display.min_rows', 10) #default will be 10
pd.set_option('display.max_columns', 20)

## 2. Loading Different Data Formats Into a Pandas Data Frame

### Reading CSV file

In [ ]:
# read csv file

url='https://raw.githubusercontent.com/tdmhub/L4DA_resources/main/world_population_uncleansed.csv'
df = pd.read_csv(url)
df.head(3)

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CF,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GE,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AF,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36

### Read CSV file from URL

### Read Excel file

In [ ]:
# read excel file
url='https://github.com/tdmhub/L4DA_resources/raw/main/medium-and-heavy-duty-vehicles-2023-07-17.xlsx'
df_excel = pd.read_excel(url, sheet_name='Sheet1')
df_excel

,Vehicle ID,Model,Manufacturer,Transmission Make,Num Passengers,Power System Ids,Fuels,Application Categories,Transmission Types
0,11099,ACMD-Xpert,Autocar,Allison,NaN,[10013],CNG - Compressed Natural Gas|LNG - Liquified N...,Refuse,NaN
1,10941,ACMD-Xpert,Autocar,Allison,NaN,[10013],CNG - Compressed Natural Gas|LNG - Liquified N...,Street Sweeper,NaN
2,10773,ACMD-Xpert,Autocar,Allison,NaN,[10013],CNG - Compressed Natural Gas|LNG - Liquified N...,Vocational/Cab Chassis,NaN
3,11209,ACTT Terminal Tractor,Autocar,Vorza,NaN,[10562],Electric,Tractor,Automatic
4,11208,ACTT Terminal Tractor,Autocar,Allison,NaN,[10505],CNG - Compressed Natural Gas|LNG - Liquified N...,Tractor,NaN
...,...,...,...,...,...,...,...,...,...
280,11237,VNR Electric - Class 7,Volvo,NaN,NaN,[],Electric,Vocational/Cab Chassis,NaN
281,10848,W4 CC,Workhorse,NaN,NaN,[10589],Electric,Vocational/Cab Chassis,Automatic
282,11243,HDXT - Class 8,Xos,Allison e-Axle,NaN,"[10584, 10585]",Electric,Tractor,Automatic
283,11244,MDXT,Xos,Allison e-Axle,NaN,"[10584, 10585]",Electric,Vocational/Cab Chassis,Automatic
284,11245,SV05,Xos,NaN,NaN,[10586],Electric,Step Van,Automatic

## 3. Data preprocessing
Data preprocessing is the process of making raw data to clean data. This is the most crucial part of data the science. In this section, we will explore data first then we remove unwanted columns, remove duplicates, handle missing data, etc. After this step, we get clean data from raw data.

### 3.1 Data Exploring

#### Retrieving rows from data frame.

In [ ]:
# display first 3 rows
df.head(3)

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CF,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GE,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AF,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36

In [ ]:
# display last 6 rows
df.tail(6)

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
201,862,15210443,24427729,28715022,28301696,28838499,32027461,35937404,Venezuela,916445,882050.0,VE,VEN,0.0179,0.0190,0.0036,32.6949,84.6797,52
202,704,52968270,79001142,87411012,98186856,98858950,102699905,107012939,Vietnam,331212,313429.0,VN,VNM,0.0208,0.0068,0.0123,315.4110,816.9145,16
203,732,116775,270375,413296,575986,587259,662726,851067,Western Sahara,266000,266000.0,EH,ESH,0.0004,0.0196,0.0001,2.2077,5.7180,172
204,887,9204938,18628700,24743946,33696614,34449825,39923245,55296331,Yemen,527968,527970.0,YE,YEM,0.0240,0.0224,0.0043,65.2496,168.9964,44
205,894,5720438,9891136,13792086,20017675,20569737,24676417,37460435,Zambia,752612,743390.0,ZM,ZMB,0.0178,0.0276,0.0026,27.6702,71.6658,63
206,716,7049926,11834676,12839771,16320537,16665409,19179393,26438589,Zimbabwe,390757,386850.0,ZW,ZWE,0.0112,0.0211,0.0021,43.0798,111.5766,74

#### Retrieving sample rows from data frame.

In [ ]:
# Display random 7 sample rows
df.sample(7)

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
116,583,76299,111709,107588,114164,115224,122704,135457,Micronesia,702,700.0,FM,FSM,0.0000,0.0093,0.0000,164.6057,426.3288,194
115,484,67705186,97873442,112532401,127504125,128455567,134534107,143772364,Mexico,1964375,1943950.0,MX,MEX,0.0299,0.0075,0.0160,66.0797,171.1463,10
199,548,118156,192074,245453,326740,334506,391135,578567,Vanuatu,12189,12190.0,VU,VUT,0.0002,0.0238,0.0000,-1.0000,71.0722,182
135,512,1017462,2344253,2881914,4576298,4644384,5093376,6328978,Oman,309500,309500.0,OM,OMN,0.0022,0.0149,0.0006,15.0061,38.8658,127
102,442,363741,435628,507070,647599,654768,697086,781910,Luxembourg,2586,2574.5,LU,LUX,0.0002,0.0111,0.0001,254.3282,658.7101,168
68,312,334234,424067,403072,395752,395839,399728,388861,Guadeloupe,1628,1628.0,GP,GLP,0.0000,0.0002,0.0000,243.1443,629.7439,178
172,728,4192012,6114440,9714419,10913164,11088796,12570402,17460846,South Sudan,619745,631930.0,SS,SSD,0.0058,0.0161,0.0014,17.5475,45.4480,86

#### Retrieving information about dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place            207 non-null    int64
 1   pop1980          207 non-null    int64
 2   pop2000          207 non-null    int64
 3   pop2010          207 non-null    int64
 4   pop2022          207 non-null    object
 5   pop2023          207 non-null    int64
 6   pop2030          207 non-null    int64
 7   pop2050          207 non-null    object
 8   country          207 non-null    object
 9   area             207 non-null    object
 10  landAreaKm       207 non-null    float64
 11  cca2             206 non-null    object
 12  cca3             207 non-null    object
 13  netChange        204 non-null    float64
 14  growthRate       207 non-null    float64
 15  worldPercentage  206 non-null    float64
 16  density          207 non-null    float64
 17  densityMi        207 non-null    float64
 18  rank             207 non-null    int64
dtypes: float64(6), int64(7), object(6)
memory usage: 30.9+ KB

In [ ]:
# display datatypes
df.dtypes

place                int64
pop1980              int64
pop2000              int64
pop2010              int64
pop2022             object
pop2023              int64
pop2030              int64
pop2050             object
country             object
area                object
landAreaKm         float64
cca2                object
cca3                object
netChange          float64
growthRate         float64
worldPercentage    float64
density            float64
densityMi          float64
rank                 int64
dtype: object

In [ ]:
df.dtypes.value_counts()

int64      7
object     6
float64    6
dtype: int64

#### Display number of rows and columns.

In [ ]:
df.shape

(207, 19)

In [ ]:
df.columns

Index(['place', 'pop1980', 'pop2000', 'pop2010', 'pop2022', 'pop2023',
       'pop2030', 'pop2050', 'country', 'area', 'landAreaKm', 'cca2', 'cca3',
       'netChange', 'growthRate', 'worldPercentage', 'density', 'densityMi',
       'rank'],
      dtype='object')

In [ ]:
# display place columns first 3 rows data
df['place'].head(3)

0    140
1    268
2      4
Name: place, dtype: int64

In [ ]:
# display first 4 rows of place, pop2023 and area columns
df[['place', 'area', 'pop2023']].head(4)

   place    area   pop2023
0    140  622984   5742315
1    268   69700   3728282
2      4  652230  42239854
3      8   28748   2832439

#### Retrieving a Range of Rows

In [ ]:
# for display 2nd to 6th rows
df[2:7]

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AF,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36
3,8,2941651,3182021,2913399,2842321,2832439,2789599,2456472,Albania,28748,27400.0,AL,ALB,-0.0003,-0.0035,0.0004,103.3737,267.7378,138
4,12,18739378,30774621,35856344,44903225,45606480,49787283,60001113,Algeria,2381741,2381741.0,DZ,DZA,0.0218,0.0157,0.0057,19.1484,49.5943,34
5,20,35611,66097,71519,79824,80088,81528,80504,Andorra,468,470.0,AD,AND,0.0000,0.0033,0.0000,170.4000,441.3360,203
6,24,8330047,16394062,23364185,35588987,36684202,44911664,72328068,Angola,1246700,1246700.0,AO,AGO,0.0352,0.0308,0.0046,29.4250,76.2109,42

In [ ]:
# disaplay from row 0 to 10
df[:11]

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CF,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GE,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AF,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36
3,8,2941651,3182021,2913399,2842321,2832439,2789599,2456472,Albania,28748,27400.0,AL,ALB,-0.0003,-0.0035,0.0004,103.3737,267.7378,138
4,12,18739378,30774621,35856344,44903225,45606480,49787283,60001113,Algeria,2381741,2381741.0,DZ,DZA,0.0218,0.0157,0.0057,19.1484,49.5943,34
5,20,35611,66097,71519,79824,80088,81528,80504,Andorra,468,470.0,AD,AND,0.0000,0.0033,0.0000,170.4000,441.3360,203
6,24,8330047,16394062,23364185,35588987,36684202,44911664,72328068,Angola,1246700,1246700.0,AO,AGO,0.0352,0.0308,0.0046,29.4250,76.2109,42
7,28,64889,75055,85695,93763,94298,97510,99030,Antigua and Barbuda,442,440.0,AG,ATG,0.0000,0.0057,0.0000,214.3136,555.0723,201
8,32,28024803,37070774,41100123,45510318,45773884,47678560,51621175,Argentina,2780400,2736690.0,AR,ARG,0.0091,0.0058,0.0057,16.7260,43.3203,33
9,51,3135123,3168523,2946293,2780469,2777970,2759528,2573465,Armenia,29743,28470.0,AM,ARM,0.0000,-0.0009,0.0003,97.5753,252.7201,140
10,36,14706322,19017963,22019168,26177413,26439111,28202414,32192919,Australia,7692024,7692020.0,AU,AUS,0.0083,0.0100,0.0033,3.4372,8.9024,55

In [ ]:
# for display last two rows
df[-2:]

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
205,894,5720438,9891136,13792086,20017675,20569737,24676417,37460435,Zambia,752612,743390.0,ZM,ZMB,0.0178,0.0276,0.0026,27.6702,71.6658,63
206,716,7049926,11834676,12839771,16320537,16665409,19179393,26438589,Zimbabwe,390757,386850.0,ZW,ZWE,0.0112,0.0211,0.0021,43.0798,111.5766,74

 ### 3.2 Data Cleaning
After the explore our datasets may need to clean them for better analysis. Data coming in from multiple sources so It's possible to have an error in some values. This is where data cleaning becomes extremely important. In this section, we will delete unwanted columns, rename columns, correct appropriate data types, etc.

#### Delete Columns name

In [ ]:
# Drop unwanted columns
df.drop(['cca2'], axis=1, inplace=True)

#### Change Columns name

In [ ]:
# create new df_col dataframe from df.copy() method.
df_col = df.copy()

# rename columns name
df_col.rename(columns={"place": "country_name", "pop2023": "population"}, inplace=True)
df_col.head(3)

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,pop2050,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36

#### Adding a new column to a DataFrame

In [ ]:
# Add a new ajusted column which value will be population / 1000
df_col['population_thousand'] = df_col['population'] / 1000
df_col

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,pop2050,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,population_thousand
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117,5742.315
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132,3728.282
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36,42239.854
3,8,2941651,3182021,2913399,2842321,2832439,2789599,2456472,Albania,28748,27400.0,ALB,-0.0003,-0.0035,0.0004,103.3737,267.7378,138,2832.439
4,12,18739378,30774621,35856344,44903225,45606480,49787283,60001113,Algeria,2381741,2381741.0,DZA,0.0218,0.0157,0.0057,19.1484,49.5943,34,45606.480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,704,52968270,79001142,87411012,98186856,98858950,102699905,107012939,Vietnam,331212,313429.0,VNM,0.0208,0.0068,0.0123,315.4110,816.9145,16,98858.950
203,732,116775,270375,413296,575986,587259,662726,851067,Western Sahara,266000,266000.0,ESH,0.0004,0.0196,0.0001,2.2077,5.7180,172,587.259
204,887,9204938,18628700,24743946,33696614,34449825,39923245,55296331,Yemen,527968,527970.0,YEM,0.0240,0.0224,0.0043,65.2496,168.9964,44,34449.825
205,894,5720438,9891136,13792086,20017675,20569737,24676417,37460435,Zambia,752612,743390.0,ZMB,0.0178,0.0276,0.0026,27.6702,71.6658,63,20569.737
206,716,7049926,11834676,12839771,16320537,16665409,19179393,26438589,Zimbabwe,390757,386850.0,ZWE,0.0112,0.0211,0.0021,43.0798,111.5766,74,16665.409

In [ ]:
df_col.head(3)

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,pop2050,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,population_thousand
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117,5742.315
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132,3728.282
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36,42239.854

### 3.3 Remove duplicate

In [ ]:
# Display duplicated entries
df_col.duplicated().sum()

2

In [ ]:
# duplicate rows dispaly, keep arguments will--- 'first', 'last' and False
duplicate_value = df_col.duplicated(keep='first')

#Show the duplicates
df_col[duplicate_value]

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,pop2050,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,population_thousand
113,480,954865,1215930,1283330,1299469,1300557,1305425,1226235,Mauritius,2040,2030.0,MUS,0.0000,0.0008,0.0002,640.6685,1659.3313,157,1300.557
168,90,233668,429978,540394,724273,740424,856264,1225407,Solomon Islands,28896,27990.0,SLB,0.0005,0.0223,0.0001,26.4532,68.5137,166,740.424

In [ ]:
# dropping ALL duplicate values
df_col.drop_duplicates(keep = 'first', inplace = True)

### 3.4 Handling missing values

Handling missing values in the common task in the data pre-processing part. For many reasons most of the time we will encounter missing values. Without dealing with this we can't do the proper model building. For this section first, we will find out missing values then we decided how to handle them. We can handle this by removing affected columns or rows or replacing appropriate values there.

#### Display missing values information

In [ ]:
df_col.isna().sum().sort_values(ascending=False)

netChange              3
worldPercentage        1
country_name           0
landAreaKm             0
rank                   0
densityMi              0
density                0
growthRate             0
cca3                   0
area                   0
pop1980                0
country                0
pop2050                0
pop2030                0
population             0
pop2022                0
pop2010                0
pop2000                0
population_thousand    0
dtype: int64

#### Delete Nan rows

If we have less Nan value then we can delete entire rows by `dropna()` function. For this function, we will add columns name in subset parameter.

In [ ]:
# df copy to df_copy
df_new = df_col.copy()

In [ ]:
#Delete Nan rows of netChange Columns
df_new.dropna(subset = ["netChange"], inplace=True)

In [ ]:
df_new

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,pop2050,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,population_thousand
0,140,2415276,3759170,4660067,5579144,5742315,7104274,11533423,,622984,622980.0,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117,5742.315
1,268,5145843,4265172,3836831,3744385,3728282,3657494,3384660,,69700,69490.0,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132,3728.282
2,4,12486631,19542982,28189672,41128771,42239854,50330837,74075234,Afghanistan,652230,652230.0,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36,42239.854
3,8,2941651,3182021,2913399,2842321,2832439,2789599,2456472,Albania,28748,27400.0,ALB,-0.0003,-0.0035,0.0004,103.3737,267.7378,138,2832.439
4,12,18739378,30774621,35856344,44903225,45606480,49787283,60001113,Algeria,2381741,2381741.0,DZA,0.0218,0.0157,0.0057,19.1484,49.5943,34,45606.480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,704,52968270,79001142,87411012,98186856,98858950,102699905,107012939,Vietnam,331212,313429.0,VNM,0.0208,0.0068,0.0123,315.4110,816.9145,16,98858.950
203,732,116775,270375,413296,575986,587259,662726,851067,Western Sahara,266000,266000.0,ESH,0.0004,0.0196,0.0001,2.2077,5.7180,172,587.259
204,887,9204938,18628700,24743946,33696614,34449825,39923245,55296331,Yemen,527968,527970.0,YEM,0.0240,0.0224,0.0043,65.2496,168.9964,44,34449.825
205,894,5720438,9891136,13792086,20017675,20569737,24676417,37460435,Zambia,752612,743390.0,ZMB,0.0178,0.0276,0.0026,27.6702,71.6658,63,20569.737
206,716,7049926,11834676,12839771,16320537,16665409,19179393,26438589,Zimbabwe,390757,386850.0,ZWE,0.0112,0.0211,0.0021,43.0798,111.5766,74,16665.409

In [ ]:
#Check there an no Nan in netChange
df_new.isna().sum().sort_values(ascending=False)

country_name           0
landAreaKm             0
rank                   0
densityMi              0
density                0
worldPercentage        0
growthRate             0
netChange              0
cca3                   0
area                   0
pop1980                0
country                0
pop2050                0
pop2030                0
population             0
pop2022                0
pop2010                0
pop2000                0
population_thousand    0
dtype: int64

#### Delete entire columns

If we have a large number of nan values in particular columns then dropping those columns might be a good decision rather than imputing.

In [ ]:
df_new.drop(columns=['pop2050'], inplace=True)
df_new

,country_name,pop1980,pop2000,pop2010,pop2022,population,pop2030,country,area,landAreaKm,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank,population_thousand
0,140,2415276,3759170,4660067,5579144,5742315,7104274,,622984,622980.0,CAF,0.0053,0.0292,0.0007,9.2175,23.8733,117,5742.315
1,268,5145843,4265172,3836831,3744385,3728282,3657494,,69700,69490.0,GEO,-0.0005,-0.0043,0.0005,53.6521,138.9588,132,3728.282
2,4,12486631,19542982,28189672,41128771,42239854,50330837,Afghanistan,652230,652230.0,AFG,0.0357,0.0270,0.0053,64.7622,167.7341,36,42239.854
3,8,2941651,3182021,2913399,2842321,2832439,2789599,Albania,28748,27400.0,ALB,-0.0003,-0.0035,0.0004,103.3737,267.7378,138,2832.439
4,12,18739378,30774621,35856344,44903225,45606480,49787283,Algeria,2381741,2381741.0,DZA,0.0218,0.0157,0.0057,19.1484,49.5943,34,45606.480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,704,52968270,79001142,87411012,98186856,98858950,102699905,Vietnam,331212,313429.0,VNM,0.0208,0.0068,0.0123,315.4110,816.9145,16,98858.950
203,732,116775,270375,413296,575986,587259,662726,Western Sahara,266000,266000.0,ESH,0.0004,0.0196,0.0001,2.2077,5.7180,172,587.259
204,887,9204938,18628700,24743946,33696614,34449825,39923245,Yemen,527968,527970.0,YEM,0.0240,0.0224,0.0043,65.2496,168.9964,44,34449.825
205,894,5720438,9891136,13792086,20017675,20569737,24676417,Zambia,752612,743390.0,ZMB,0.0178,0.0276,0.0026,27.6702,71.6658,63,20569.737
206,716,7049926,11834676,12839771,16320537,16665409,19179393,Zimbabwe,390757,386850.0,ZWE,0.0112,0.0211,0.0021,43.0798,111.5766,74,16665.409

**Method 2** - Impute Mean, Median and Mode

In [ ]:
# Impute Mean in Amount_spent columns
mean_population = df_new['population'].mean()
print(f"mean_population {mean_population}")

#Impute Median in Age column
median_population = df_new['population'].median()
print(f"median_population {median_population}")

mean_population 39806370.38613861
median_population 8793880.5

### 5.1. Calculating Basic statistical measurement

In [ ]:
df_new.describe().T

,count,mean,std,min,25%,50%,75%,max
country_name,202.0,4.290099e+02,2.519089e+02,4.0000,2.125000e+02,4.240000e+02,6.427500e+02,8.940000e+02
pop1980,202.0,2.692729e+07,1.114438e+08,0.0000,7.914975e+05,4.360532e+06,1.326695e+07,1.000000e+09
pop2000,202.0,3.042032e+07,1.197338e+08,9638.0000,1.241370e+06,5.733390e+06,1.895756e+07,1.264099e+09
pop2010,202.0,3.456118e+07,1.331291e+08,10241.0000,1.449527e+06,7.230442e+06,2.308074e+07,1.348191e+09
population,202.0,3.980637e+07,1.471841e+08,11396.0000,1.743556e+06,8.793880e+06,2.886440e+07,1.428628e+09
pop2030,202.0,4.197161e+07,1.518708e+08,-200032.0000,1.606344e+06,8.687932e+06,3.382168e+07,1.514994e+09
landAreaKm,202.0,6.451623e+05,1.803806e+06,2.0000,2.193250e+04,1.123250e+05,4.928449e+05,1.637687e+07
netChange,202.0,1.152822e-02,3.659878e-02,-0.0286,0.000000e+00,1.400000e-03,1.057500e-02,4.184000e-01
growthRate,202.0,1.073069e-02,1.282061e-02,-0.0745,3.150000e-03,8.950000e-03,1.927500e-02,4.980000e-02
worldPercentage,202.0,4.974257e-03,1.838796e-02,0.0000,2.000000e-04,1.100000e-03,3.600000e-03,1.785000e-01
density,202.0,3.402447e+02,1.492342e+03,-1.0000,3.358560e+01,9.347115e+01,2.338604e+02,1.814850e+04
densityMi,202.0,8.815984e+02,3.865086e+03,0.3574,8.698670e+01,2.420902e+02,6.056984e+02,4.700461e+04
rank,202.0,1.025644e+02,6.024435e+01,1.0000,5.125000e+01,1.015000e+02,1.517500e+02,2.270000e+02
population_thousand,202.0,3.980637e+04,1.471841e+05,11.3960,1.743556e+03,8.793880e+03,2.886440e+04,1.428628e+06

We know already above code will display only numeric columns basic statistical information. for object or category columns we can use `describe(include=object)` .

In [ ]:
df_new.describe(include=object).T

        count unique      top freq
pop2022   202    202  5579144    1
country   202    201             2
area      202    202   622984    1
cca3      202    201             2